@font-face {
    font-family: displayBold;
    src: url(assets/fonts/SF-Compact-Display-Bold.otf) format("opentype");
  }

@font-face {
    font-family: displayRegular;
    src: url(assets/fonts/SF-Compact-Display-Regular.otf) format("opentype");
  }

@font-face {
    font-family: displayMedium;
    src: url(assets/fonts/SF-Compact-Display-Medium.otf) format("opentype");
  }

html { background-color: #000000; }

.navbar{
    background-color: #3D3D3D;
    padding: 0.6em 0.2em;
}

.button-custom{
    background-color: #1C1C1C;
    border-radius: 15px;
    color: #296E66;
    font-size: 25px;
    width: 45px;
    height: 45px;
    box-shadow: 0px 0px 10px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.active{
    color: #41F2DE !important;
    box-shadow: 0px 0px 10px #41F2DE !important;
}

.i-custom{
    text-align: center;
}

.col-2{
    flex: 20%;
    max-width: 20%;
    align-content: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.titleBox{
  width: 100%;
  color: #f8f8ff;
  font-family: displayBold;
  justify-content: center;
  align-items: center;
  display: flex;
}

.titleBox i{
  font-size: 50px;
}

.titleHouse{
  margin-top: 3em;
}

.titleBox h1{
  font-size: 3em !important;
  margin-top: 0.5em !important;
  line-height: 0 !important;
}

