// CSS Reset, comment out if not required or using a different module
// @import '~minireset.css/minireset';
@import '~igniteui-angular/lib/core/styles/themes/index';
@include igx-core();
@include igx-theme($green-palette);

/* autoprefixer grid: on */
html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.sample-wrapper {
    width: inherit;
    position: relative;
    margin: 0 auto;
    background: transparent;
}

.sample-content {
    display: flex;
    flex-grow: 1;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
    -webkit-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -moz-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.sample-column {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 25%;
    align-content: flex-start;
    margin: 16px;
    min-width: 280px;
}

.sample-title {
    color: #41F2DE;
    margin-bottom: 12px;
    margin-top: 12px;
}

.sample-title .light {
    font-weight: 400;
}

.sample-description {
    font-size: 14px;
    font-weight: normal;
    color: #f8f8ff;
}

#igx-icon-0{
  height: 100%;
  font-size: 4em;
}

.igx-icon{
  color: #CACACA
}

.igx-input-group__bundle-main {
  margin-left: 4.5em;
  margin-top: 0.8em;
  position: absolute;
}

.igx-calendar__body{
  background-color: #333333;
}
.igx-date-picker .igx-calendar{
  background-color: #333333;
}

.igx-date-picker .igx-calendar__date{
  color: #f8f8ff;
  font-family: displayRegular;
}

.igx-date-picker .igx-calendar__date--weekend {
  color: #818181;
  font-family: displayRegular;
}

.igx-date-picker .igx-calendar__date--inactive {
  color: #4E4E4E;
  font-family: displayRegular;
}

.igx-date-picker .igx-calendar__label {
  color: #4E4E4E;
  font-family: displayRegular;
}

.igx-calendar__date--selected.igx-calendar__date--current .igx-calendar__date-content {
  color: black;
  background: #41F2DE;
}

.igx-calendar__date--current .igx-calendar__date-content {
  color: #41F2DE;
  font-weight: 600;
  background: transparent;
}

.igx-calendar__date--selected .igx-calendar__date-content {
  color: black;
  background: #41F2DE;
}

.igx-date-picker .igx-calendar__header {
  background: linear-gradient(#41F2DE, #4694ff);
  color: black;
}


.igx-date-picker .igx-calendar-picker__date {
  color: #CACACA;
}

.igx-typography .igx-calendar__header-date {
  font-family: displayRegular !important;
}

.dateDay{
  font-family: displayBold;
  font-size: 3em;
  color: #f8f8f8;
}

.dateDate{
  font-family: displayRegular;
  font-size: 2em;
  color: #f8f8f8;
}

igx-date-picker#date-picker {
  position: absolute;
  top: 3px;
  right: 2.8em;
  opacity: 0;
}

.igx-date-picker .igx-calendar__year--current {
  color: #41F2DE;
}

.igx-date-picker .igx-calendar__year{
  color: #E5E5E5;
}

.igx-date-picker .igx-calendar__month{
  color: #E5E5E5;
}

.igx-date-picker .igx-calendar__month--current{
  color: #41F2DE;
}

@-webkit-keyframes color-change-2x {
  0% {
      background: #fdf8f0;
  }
  100% {
      background: #f6e7ec;
  }
}

@keyframes color-change-2x {
    0% {
        background: #fdf8f0;
    }
    100% {
        background: #f6e7ec;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.headerAlignSyle {
    text-align: right !important;
}

.btnChart2{
  border-color: #f8f8ff;
  background-color: #000000;
  width: 30px;
  height: 30px;
  color: #f8f8ff;
  font-size: 14px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.divBtnChart2{
  position: absolute;
  top: 50px;
  right: 30px;
}
