<div class="devicesBox">
  <div class="titleBox">
    <i class="fas fa-bed"></i>
  </div>
  <div class="dropdown titleBox">
    <div class="dropdown-menu dropdown-primary dropdownMenu">
      <a class="dropdown-item" href="devices">Bedroom 1</a>
      <a class="dropdown-item" href="devices">Bedroom 2</a>
      <a class="dropdown-item" href="devices">Kitchen</a>
      <a class="dropdown-item" href="devices">Bathroom</a>
      <a class="dropdown-item" href="devices">Bedroom 3</a>
      <a class="dropdown-item" href="devices">Living room</a>
      <a class="dropdown-item" href="devices">Storage</a>
    </div>
  </div>
  <div class="deviceUsage">
    <app-power-usage></app-power-usage>
  </div>
</div>
