<div class="titleHouse">
  <div class="titleBox">
    <i class="fas fa-bed"></i>
  </div>

    <div class="titleBox">
      <select class="dropdown">
        <option value="Bedroom1">Bedroom 1</option>
        <option value="Bedroom2">Bedroom 2</option>
        <option value="Kitchen">Kitchen</option>
        <option value="Bathroom">Bathroom</option>
        <option value="Bedroom3">Bedroom 3</option>
        <option value="LivingRoom">Living room</option>
        <option value="Storage">Storage</option>
      </select>
    </div>
  </div>
  <div class="deviceUsage">
    <app-power-usage></app-power-usage>
  </div>
