/*Device Usage Circle*/
.deviceUsage{
  width: 70%;
  margin: auto;
}

/*Dorpdown*/
.dropdownMenu {
  font-family: displayMedium;
}

.dropdownButton{
  width: 60%;
  margin-top: 0.5em;
  font-size: 1.5em;
  background-color: linear-gradient(#41F2DE, #4694ff);
}
