.navbar-header{
    border-radius: 0px 0px 15px 15px;
    padding: 0.8em 0.4em;
}

.button-custom{
    border-radius: 10px;
    font-size: 20px;
    width: 35px;
    height: 35px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9em;
}

.col-ms-5{
    align-content: center;
    margin: 0 0.5em 0 0.5em;
}
