<nav class="navbar navbar-header">
    <div class="col-2 buttonCol">
        <button routerLink="account" routerLinkActive="active" class="btn btn-sm button-custom" type="button"><i class="fas fa-user i-custom navIcon"></i></button>
    </div>
  <div class="navbar-brand logoDiv" href="#">
    <img src="assets/logo/Logo.png" class="logo" width="auto" height="40px" alt="">
  </div>
  <div class="col-2 buttonCol">
      <button routerLink="settings" routerLinkActive="active" class="btn btn-sm button-custom" type="button"><i class="fas fa-cog i-custom navIcon"></i></button>
  </div>
</nav>
