/*Logo*/
.logo {
  display: flex;
  margin: auto;
  height: 100%;
}

.logoDiv {
  align-content: center;
  margin: 0 0.5em 0 0.5em;
  width: 50%;
  padding: 0;
  height: 100%;
}

/*Header*/
.navbar-header {
  background-color: #3D3D3D;
  border-radius: 0px 0px 15px 15px;
  padding: 0.8em;
  height: 8%;
  width: 100%;
}

/*Buttons*/
.button-custom {
  max-height: 5em;
  max-width: 7em;
}
