<div class="powerUsage">
    <circle-progress
    [percent]=percent
    [radius]=radius
    [space]=space
    [outerStrokeGradient]=outerStrokeGradient
    [outerStrokeWidth]=outerStrokeWidth
    [outerStrokeColor]=outerStrokeColor
    [outerStrokeGradientStopColor]=outerStrokeGradientStopColor
    [innerStrokeColor]=innerStrokeColor
    [innerStrokeWidth]=innerStrokeWidth
    [backgroundGradient]=backgroundGradient
    [backgroundColor]=backgroundColor
    [backgroundGradientStopColor]=backgroundGradientStopColor
    [backgroundPadding]=backgroundPadding
    [title]=title
    [titleColor]=titleColor
    [titleFontSize]=titleFontSize
    [subtitle]=subtitle
    [subtitleColor]=subtitleColor
    [subtitleFontSize]=subtitleFontSize
    [showUnits]=showUnits
    [animateTitle]=animateTitle
    [animationDuration]=animationDuration
    [showBackground]=showBackground
    [responsive]=responsive>
    </circle-progress>
    <div class="divBtnChart">
      <button routerLink="../powerChart" routerLinkActive="active" class="btn btn-sm btnChart click" type="button"><i
          class="far fa-chart-bar i-custom"></i></button>
    </div>
</div>
