<div class="chart">
  <canvas #myCanvas baseChart height="250px"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [chartType]="chartType"
          [colors]="chartColors"
          [plugins]="backgroundChartPlugins">
  </canvas>
  <div class="divBtnChart">
    <button routerLink="../powerCircle" routerLinkActive="active" class="btn btn-sm btnChart click" type="button"><i
        class="far fa-chart-bar i-custom"></i></button>
  </div>
</div>
<div class="titleHouse">
  <div class="titleBox">
    <i class="fas fa-home"></i>
  </div>
  <div class="titleBox">
    <h1>House 1</h1>
  </div>
</div>
